/* CarrucelCharacteristics.module.css */
.slide {
    transition: opacity 0.4s ease-in-out, filter 0.5s ease-in-out;
  }
  
  .slideEnter {
    opacity: 0;
    filter: blur(10px); /* Inicia desenfocado */
  }
  
  .slideEnterActive {
    opacity: 1;
    filter: blur(0); /* Termina sin desenfoque */
  }
  
  .slideExit {
    opacity: 1;
    filter: blur(0); /* Inicia sin desenfoque */
  }
  
  .slideExitActive {
    opacity: 0;
    filter: blur(10px); /* Termina desenfocado */
  }