.carouselContainer {
    position: relative;
    width: 350px; /* Ajusta al tamaño del carrusel */
    height: 450px;
    margin: 0;
    perspective: 1000px;
    z-index: 1; /* Asegura que el carrusel esté al frente */
  }
  
  .cardPosition0 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(50px) rotate(0deg); /* Tarjeta más visible */
    z-index: 3;
    transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
  }
  
  .cardPosition1 {
    position: absolute;
    top: 20px;
    left: 10px;
    transform: translateZ(0px) rotate(-10deg); /* Tarjeta intermedia */
    z-index: 2;
    transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
  }
  
  .cardPosition2 {
    position: absolute;
    top: 40px;
    left: 20px;
    transform: translateZ(-50px) rotate(10deg); /* Tarjeta más al fondo */
    z-index: 1;
    transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
  }
  
  .decorativeC {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    z-index: 0; /* Envía la "C" detrás del carrusel */
    opacity: 0.8; /* Ajusta la visibilidad según sea necesario */
  }

.decorativeImage {
    position: absolute;
    width: 8em;
    height: 8em;
  }