 
  .container {
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    z-index: 0; /* Envía la "C" detrás del carrusel */
    opacity: 0.8; /* Ajusta la visibilidad según sea necesario */
  }
  
  .svgPath {
    fill: url(#gradientFill);
    stroke-width: 0.6;
  }
  
  @keyframes radialGradientAnimation {
    0% {
      stop-color: #fb8c8c;
    }
    50% {
      stop-color: #ffabab;
    }
    100% {
      stop-color: #ffe7e7;
    }
  }
  
  .gradientStart {
    stop-color: #fb8c8c;
    animation: radialGradientAnimation 2s ease-in-out infinite alternate;
  }
  
  .gradientEnd {
    stop-color: #ffe7e7;
    animation: radialGradientAnimation 2s ease-in-out infinite alternate-reverse;
  }
  